/* Styling various HTML elements */
header{display:flex; height:100%; width:100%; flex-wrap: nowrap;}
div{ background-color: green;
height:500px; width:33%;
text-align: center; padding: 10px; margin: 10px;}